<h1>This is the landing page.</h1>
<h3>User conditional to sign in</h3>
<h3>Signing in will redirect you back, but also show you new reviews, packages, etc. </h3>

<% if signed_in? %>
  This will only show if you are signed in :3
<% end %>

<br/>

